# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environments
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/*.log
logs/.gitkeep
